{% extends "base_section.html" %}

{% block title %} Delete book {% endblock %}

{% block section %}

	{% if user.is_authenticated and user.is_superuser %}

		<h2 class="text-2xl text-center mb-3">You are about to delete the book <span class="text-bold">{{ book.name }}</span></h2>

		<form class="relative mx-auto flex flex-col justify-center w-full md:w-3/4 max-w-3xl mt-10" method="post" action="">
			{% csrf_token %}

			<button id="return" type="submit" class="w-full md:w-1/2 bg-red-400 py-3 px-2 mx-auto mt-4 rounded text-sm font-semibold hover:bg-opacity-75 text-center">Delete book</button>

			<a href="{{ detailurl }}" class="w-full md:w-1/2 bg-gray-300 py-3 px-2 mx-auto mt-4 rounded text-sm font-semibold hover:bg-opacity-75 text-center" id="goback" role="button">Go back to the book page</a>
		</form>

	{% endif %}

{% endblock %}