{% extends "base.html" %}
{% block content %}

<h3>Review book</h3>

	<div class="container">
		<form class="form-review" method="post" action="">
			{% csrf_token %}

			<label for="id_review" class="sr-only">Review</label>
			<textarea id="description-box" rows="6" class="form-control" name="review" type="text" placeholder="Review" required></textarea><br>

			<label for="id_rating" class="sr-only">Rating</label>
			<input class="form-control" name="rating" type="number" min="1" max="5" step="1" placeholder="Rating 1-5" required /><br>

			<input class="btn btn-sm btn-primary btn-block" id="form-button" type="submit" value="Submit"/>
			<a href="{{ detailurl }}" class="btn btn-success btn-sm" id="goback" role="button">Go back</a>
		</form>
	</div>

</div>

{% endblock %}