{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InfoLib</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    {% tailwind_css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="relative md:container mx-4 md:mx-auto py-6">
        <div class="flex items-center justify-between">

            <!-- Logo -->
            <div class="pt-2">
                <a href="/" class="text-bold text-3xl font-bold uppercase text-baseColorDark hover:text-baseColor">InfoLib</a>
            </div>

            <!-- Nav Items -->
            <div class="hidden space-x-6 md:flex">
                {% if user.is_authenticated %}
                    <!-- navbar that an authenticated user sees -->
                    <a href="{% url 'books:profile' user.id %}">Profile</a>
                    <!-- links that only admin sees -->
                    {% if user.is_superuser %}
                        <a href="{% url 'books:adminpage' %}">Admin</a>
                        <a href="{% url 'books:add_book' %}">Add book</a>
                    {% endif %}
                    <a href="{% url 'logout'%}">Logout</a>
                {% else %}
                    <!-- navbar that a non-authenticated user sees -->
                    <a href="{% url 'login'%}?next={{request.path}}">
                        Login
                    </a>
                    <a href="{% url 'books:register' %}">
                        Register
                    </a>
                {% endif %}
            </div>

            <!-- Hamburger icon -->
            <button id="menu-btn" class="block hamburger md:hidden focus:outline-none">
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </button>
        </div>

        <!-- Mobile menu -->
        <div class="md:hidden">
            <div id="menu" class="z-10 absolute flex-col items-center hidden self-end py-4 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-4 right-4 drop-shadow-md">
                {% if user.is_authenticated %}
                    <!-- navbar that an authenticated user sees -->
                    <a href="{% url 'books:profile' user.id %}">Profile</a>
                    <!-- links that only admin sees -->
                    {% if user.is_superuser %}
                        <a href="{% url 'books:adminpage' %}">Admin page</a>
                        <a href="{% url 'books:add_book' %}">Add book</a>
                    {% endif %}
                    <a href="{% url 'logout'%}">Logout</a>
                {% else %}
                    <!-- navbar that a non-authenticated user sees -->
                    <a href="{% url 'login'%}?next={{request.path}}">
                        Login
                    </a>
                    <a href="{% url 'books:register' %}">
                        Register
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="lg:container mx-4 lg:mx-auto space-y-16 mb-12">

        {% block content %} {% endblock %}

    </div>
    <script>
        const btn = document.getElementById("menu-btn")
        const nav = document.getElementById("menu")


        btn.addEventListener("click", () => {
            btn.classList.toggle("open")
            nav.classList.toggle("flex")
            nav.classList.toggle("hidden")
        })
    </script>
</body>

</html>