html {
    height: 100%;
}

body {
    background-color: #EDEBE6;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    height: 100%;
    color: #7C7D7E;
}

h3 {
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Lato';
    letter-spacing: 2px;
    font-weight: 700;
}

.navbar {
    background-color: #403B33;
    color: #E3E3E3;
    border-radius: 0;
    margin-bottom: 0;
}

.sisalto {
  margin-top: 50px;
  margin-bottom: 80px;
}

#brand {
    font-family: 'Cookie', cursive;
    font-size: 40px;
    color: #D3643B;
    text-decoration: none;
}

#recent_activity tr {
    color: #D3643B
}

#brand:hover {
    color: white;
    cursor: pointer;
}

#searchBox {
    height: 50px;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding-left: 20px;
}

#search_container {
    max-height: 60px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 50px;
}

.search-input-group .input-group-addon {
    background: white !important;
    padding: 0;
    padding-right: 12px;
    padding-left: 12px;
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}

.search-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
}

.search-input-group button {
    border: 0;
    max-height: 60px;
    background: transparent;
}

.form-signin {
  width: 60%;
  margin: auto;
}

.form-review {
  width: 90%;
  margin: auto;
}

#description-box {
  resize:none;
}

.col-sm-9 {
  padding-bottom: 50px;
}

.book-title {
  text-align: left;
  text-transform: uppercase;
  color: #D3643B;
  padding-bottom: 5px;
}

.book-info {
  text-align: center;
}

.profile-sidebar {
  text-transform: uppercase;
  color: #D3643B;
  padding-bottom: 5px;
}

.profile-title {
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.username {
  color: #D3643B;
}

h4 {
  color: #7C7D7E;
  text-transform: uppercase;
  font-weight: bold;
}

h5 {
  font-size: 1.2em;
  font-weight: bold;
}

h6 {
  margin-top: 0;
}

#book-img {
  margin: auto;
  width: 180px;
  border: 1px solid #A4A4A4;
}

#reviewer {
  font-weight: bold;
  color: #D3643B;
}

.latest {
    text-align: center;
}

#all_books {
    border-top-right-radius: 1.1em;
    border-top-left-radius: 1.1em;
}

#all_books thead {
    background-color: #403B33;
    color: #E3E3E3;
    text-transform: uppercase;
    font-size: 11px;
}

#all_books td {
    padding-left: 30px;
    background-color: #f9f9f9;
    padding-bottom: 10px;
    padding-top: 10px;
}

#all_books th {
    padding-left: 30px;
}

#borrow {
    background-color: #94C7B6;
    border: 1px solid #94C7B6;
    color: #f9f9f9;
    width: 100px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin-top: 3px;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    display: inline-block;
}

#form-button {
    background-color: #94C7B6;
    border: 1px solid #94C7B6;
    color: #f9f9f9;
    width: 200px;
    height: 40px;
    line-height: 40px;
    float: right;
    padding: 0;
    margin-top: 3px;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    display: inline-block;
}

.h3_review {
    padding-bottom: 5px;
}

#reviewbutton {
    background-color: #94C7B6;
    border: 1px solid #94C7B6;
    width: 150px;
    height: 40px;
    line-height: 40px;
    float: right;
    padding: 0;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-bottom: 30px;
}

#borrow:hover, #reviewbutton:hover, #form-button:hover {
    background-color: #f9f9f9;
    color: #403B33;
    border: 1px solid #94C7B6;
}

#return {
    background-color: #D3643B;
    border: 1px solid #D3643B;
    width: 100px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin-top: 3px;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#goback {
    background-color: #f9f9f9;
    border: 1px solid #403B33;
    color: #403B33;
    width: 80px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin-top: 3px;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#return:hover {
    background-color: #f9f9f9;
    color: #403B33;
    border: 1px solid #D3643B;
}

#goback:hover {
    background-color: #403B33;
    color: #f9f9f9;
    border: 1px solid #403B33;
}

#review {
    margin-left: 10px;
    padding: 5px;
    width: 30%;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#overlay div {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}